 body {
     color: white;
     background-color: black;
 }

 h1 {
     font-size: 55px;
 }

 h2 {
     font-size: 55/16px;
 }

 .Navbar-Bg-Color {
     background-color: #141c27;
 }

 .A-Big-P {
     font-family: 'Calligraffitti', cursive;
     color:#55e6a5;
     padding: 5px;
 }

 .Prachi {
     color: #55e6a5;
     text-transform: capitalize;
     font-family: 'Calligraffitti', cursive;
     font-size: 40px;
 }

 .navbar-nav .nav-link,
 .navbar .navbar-brand {
     color: white;
 }

 .navbar-toggler {
     background-color: #55e6a5;
 }

 .navbar-nav .nav-item a.nav-link:hover {
     color: #55e6a5
 }

 .Header-Component {
     /* background-color: #09101a; */
     height: 100vh;
 }






 .Square {
     border: 15px solid #55e6a5;
     border-radius: 50%;
     animation: moveUpDown 2s linear infinite;
     background-size: cover;
     width: 50%;
     height: 50%;
     padding: 15px;
 }



 @keyframes moveUpDown {
     0% {
         transform: translateY(0);
         /* Initial position */
     }

     50% {
         transform: translateY(-10px);
         /* Halfway point, moving up */
     }

     100% {
         transform: translateY(0);
         /* Back to the initial position, moving down */
     }
 }

 .Download-Button {
     background-color: #55e6a5;
     border-radius: 0;
     transition: all 2s ease-in-out;
 }

 .Download-Button:hover {
     background-color: #141c27;
     color: white;
 }