:root {
    --navbarBlack: #141c27;
    --sectionBodyBlack: #09101a;
    --subHeadingAqua: #55e6a5;
    --bodyBlack: #000;
    --bodyWhite: #fff;
    --bodyDarkWhite: #a2a2a2;
}

body {
    color: var(--bodyWhite);
    background-color: var(--bodyBlack);
}

h1 {
    font-size: 55px;
}

.Job-Profile {
    font-size: 35px;
}

.Sub-heading {
    font-size: 30px;
    color: var(--subHeadingAqua);
}

.Navbar-Bg-Color {
    background-color: var(--navbarBlack);
}

.A-Big-P {
    font-family: 'Calligraffitti', cursive;
    color: var(--subHeadingAqua);
    padding: 5px;
}

.Prachi {
    color: var(--subHeadingAqua);
    text-transform: capitalize;
    font-family: 'Calligraffitti', cursive;
    font-size: 40px;
}

.navbar-nav .nav-link,
.navbar .navbar-brand {
    color: var(--bodyWhite);
}

.navbar-toggler {
    background-color: var(--subHeadingAqua);

}

.navbar-nav .nav-item a.nav-link {
    transition: font-family text-transform 1s ease-in;
}

.navbar-nav .nav-item a.nav-link:hover {
    color: var(--subHeadingAqua);
    font-family: 'Calligraffitti', cursive;
    text-transform: capitalize;
}

/* .Header-Component {
    background-color: #09101a;
    height: 100vh;
} */

.About-Me-Text {
    color: var(--bodyDarkWhite);
    font-weight: 500;
    font-size: 18px;
}

.Square {
    border: 15px solid var(--subHeadingAqua);
    border-radius: 50%;
    animation: moveUpDown 2s linear infinite;
    background-size: cover;
    width: 50%;
    height: 50%;
    padding: 15px;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
        /* Initial position */
    }

    50% {
        transform: translateY(-10px);
        /* Halfway point, moving up */
    }

    100% {
        transform: translateY(0);
        /* Back to the initial position, moving down */
    }
}

.Download-Button {
    background-color: var(--subHeadingAqua);
    border-radius: 0;
    transition: all 2s ease-in-out;
}

.Download-Button:hover {
    background-color: var(--navbarBlack);
    color: var(--bodyWhite);
}

.Work-Experience {
    background-color: var(--sectionBodyBlack);
    border-radius: 20px;
    transition: all 0.5s ease-in;
}

.Work-Experience:hover {
    box-shadow: 5px 5px var(--subHeadingAqua);
    transform: translateY(10px);
}

.Years {
    border: 1px solid var(--subHeadingAqua);
    width: fit-content;
    color: var(--subHeadingAqua);
    font-weight: 400;
    font-size: 18px;
}

.College {
    color: var(--bodyDarkWhite);
    font-weight: 400;
}

.College:hover {
    color: var(--subHeadingAqua);
}

.Work {
    color: var(--bodyDarkWhite);
    font-weight: 400;
}

.Work div {
    color: var(--subHeadingAqua);
}

.Company {
    color: var(--bodyWhite);
}

.Company:hover {
    color: var(--subHeadingAqua);
}

/* .Project-Section {
    background-color: var(--sectionBodyBlack);
    border-radius: 20px;
    transition: all 0.5s ease-in;
}

.Project-Section:hover {
    box-shadow: 0 0 15px 15px var(--sectionBodyBlack);
    transform: translateY(10px);
} */

.Tech-Stack-Flexbox {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

.Tech-Stack-Flexbox li {
    /* list-style: none; */
    margin: 20px;
    padding: 10px;
    border: 1px solid var(--subHeadingAqua);
    transform: skew(-15deg);
    border-radius: 10px;
}

.Code-Flexbox {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.Code-Flexbox div {
    margin: 20px;
    border: 1px solid var(--subHeadingAqua);
    padding: 20px;
    border-radius: 10px;
}

.Code-Flexbox div:hover {
    box-shadow: 0 0 10px var(--subHeadingAqua);
}

.Code-Flexbox div a {
    text-decoration: none;
    color: var(--bodyWhite);
    font-weight: bold;
}



.Skills-Section {
    /* border: 1px solid red; */
    border-radius: 20px;
    transition: all 0.5s ease-in;
}

.Skills-Section:hover {
    box-shadow: 0 0 15px 15px var(--sectionBodyBlack);
    transform: translateY(10px);
}

.Skills-Heading {
    font-size: 20px;
}

.Skills-Flexbox {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.Skills-Flexbox li {
    margin: 15px;
    border: 2px solid var(--subHeadingAqua);
    padding: 15px;
}

.Contact-Section {
    border: 1px solid red;
}

.Contact-Flexbox {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.Contact-Flexbox li {
    margin: 20px;
}